@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Rating;


<form asp-action="AddReview" method="post">
    <input asp-for="Title" placeholder="Title"/>
    <input asp-for="BookRating" placeholder="Rating" />
    <button type="submit">Submit</button>
</form>
